.container {
    width: 100%;
    height: 165vh;
    background-color: #2c3333fb;
}

.navBar {
   background-color: #191919;
   border: 0px;
   border-bottom: 1px;
   border-style: solid;
   border-color: #4c4c48;
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60px;
   padding: 10px;
}

.filters{
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.select, .button {
    height: 35px;
    width: 200px;
    font-size: 18px;
    color: #e7f6f2b4;
    padding: 2px;
    margin: 2px;
    border:none;
    border-radius: 10px;
    background-color: rgba(255, 255, 240, 0.288);
}

.select{
    outline: none;
}

.select > option {
    color: #191919cb;
    font-weight: 700;
}

.button {
    width: 80px;
}

.button:hover, .select:hover{
    background-color: rgba(180, 190, 33, 0.651);
    transition: 0.2s;
}

.countries{
    margin-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 20%);
    justify-content: center;
    gap: 30px;
    column-gap: 10%;
}